In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import sparse
import numpy as np

In [2]:
dance_ratings = pd.read_csv('dance_ratings.csv')
kdance = pd.read_csv('kdance.csv', encoding='latin-1')
kd_ratings = pd.merge(kdance,dance_ratings)

In [3]:
kd_ratings['song'] = kd_ratings['title'] +' - '+ kd_ratings['artist']
print(kd_ratings.shape)
kd_ratings.head()

(1776, 7)

,song_id,title,artist,tempo,user_id,rating,song
0,12,OOMM (Out of My Mind),3YE,150.063,6,1,OOMM (Out of My Mind) - 3YE
1,12,OOMM (Out of My Mind),3YE,150.063,9,2,OOMM (Out of My Mind) - 3YE
2,12,OOMM (Out of My Mind),3YE,150.063,24,3,OOMM (Out of My Mind) - 3YE
3,12,OOMM (Out of My Mind),3YE,150.063,60,3,OOMM (Out of My Mind) - 3YE
4,12,OOMM (Out of My Mind),3YE,150.063,68,2,OOMM (Out of My Mind) - 3YE

In [4]:
numdance_rating = kd_ratings.groupby('song')['rating'].count().reset_index()

In [5]:
numdance_rating.head()

                     song  rating
0      A-TEEN - SEVENTEEN      12
1  After School - Weeekly      17
2       All Night - ASTRO      17
3      Always You - ASTRO      21
4             BBIBBI - IU      16

In [6]:
numdance_rating.rename(columns={'rating':'no of ratings'}, inplace=True)
final_dance = kd_ratings.merge(numdance_rating, on='song')
final_dance

,song_id,title,artist,tempo,user_id,rating,song,no of ratings
0,12,OOMM (Out of My Mind),3YE,150.063,6,1,OOMM (Out of My Mind) - 3YE,17
1,12,OOMM (Out of My Mind),3YE,150.063,9,2,OOMM (Out of My Mind) - 3YE,17
2,12,OOMM (Out of My Mind),3YE,150.063,24,3,OOMM (Out of My Mind) - 3YE,17
3,12,OOMM (Out of My Mind),3YE,150.063,60,3,OOMM (Out of My Mind) - 3YE,17
4,12,OOMM (Out of My Mind),3YE,150.063,68,2,OOMM (Out of My Mind) - 3YE,17
...,...,...,...,...,...,...,...,...
1771,622,Hold,WINNER,155.930,105,0,Hold - WINNER,7
1772,622,Hold,WINNER,155.930,116,0,Hold - WINNER,7
1773,622,Hold,WINNER,155.930,209,2,Hold - WINNER,7
1774,622,Hold,WINNER,155.930,327,5,Hold - WINNER,7
1775,622,Hold,WINNER,155.930,329,1,Hold - WINNER,7

In [7]:
final_dance = final_dance[final_dance['no of ratings']>=5] #only songs above 5 users have rated is qualified, to avoid noise
final_dance.shape

(1776, 8)

In [8]:
final_dance.drop_duplicates(['user_id','song'], inplace=True)
final_dance.shape

(1744, 8)

In [9]:
dance_pivot = final_dance.pivot_table(columns='user_id', index='song', values='rating')
dance_pivot.fillna(0, inplace=True)

In [10]:
print(dance_pivot.shape)
dance_pivot

(111, 329)

user_id,1,2,3,4,5,6,7,8,9,10,...,323,324,325,326,327,328,329,330,331,332
song,,,,,,,,,,,,,,,,,,,,,
A-TEEN - SEVENTEEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
After School - Weeekly,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
All Night - ASTRO,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
Always You - ASTRO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BBIBBI - IU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WINE (Feat.Changmo) (Prod. SUGA) - SURAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What You Wanted - CIX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What is Love - TWICE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Whatta Man (Good man) - I.O.I,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Never Know - BLACKPINK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
from scipy.sparse import csr_matrix
dance_sparse = csr_matrix(dance_pivot)
type(dance_sparse)

scipy.sparse.csr.csr_matrix

In [12]:
from sklearn.neighbors import NearestNeighbors
dance_model = NearestNeighbors(algorithm='brute')

In [13]:
dance_model.fit(dance_sparse)

NearestNeighbors(algorithm='brute')

In [14]:
distances, suggestions = dance_model.kneighbors(dance_pivot.iloc[4,:].values.reshape(1,-1), n_neighbors=15)

In [15]:
suggestions

array([[  4,  86,  38,  26,  53,  23,  17, 108,   0, 101,  52, 105,  42,
        103,   9]], dtype=int64)

In [16]:
for i in range(len(suggestions)):
    print(dance_pivot.index[suggestions[i]])

Index(['BBIBBI - IU', 'Really - BLACKPINK', 'Hold - WINNER',
       'HALA HALA (Hearts Awakened, Live Alive) - ATEEZ',
       'L.O.V.E - PARK JI HOON', 'Eung Eung - Apink', 'Dionysus - BTS',
       'What is Love - TWICE', 'A-TEEN - SEVENTEEN', 'TWILIGHT - WEi',
       'Ko Ko Bop - EXO', 'WHERE YOU AT - NU'EST W', 'I Need Somebody - DAY6',
       'Taller than You - MAMAMOO', 'Black Swan - BTS'],
      dtype='object', name='song')

In [17]:
dance_pivot.index[50]

'JUICY - Rocket Punch'

In [18]:
np.where(dance_pivot.index=='JUICY - Rocket Punch')[0][0]

50

In [25]:
def recommend_kmusic_dance(song):
    song_id=np.where(dance_pivot.index==song)[0][0]
    distances, suggestions = dance_model.kneighbors(dance_pivot.iloc[song_id,:].values.reshape(1,-1), n_neighbors=15)
    
    for i in range(len(suggestions)):
        print(dance_pivot.index[suggestions[i]])

In [26]:
recommend_kmusic_dance('JUICY - Rocket Punch')

Index(['JUICY - Rocket Punch', 'Hold - WINNER', 'Really - BLACKPINK',
       'Dionysus - BTS', 'L.O.V.E - PARK JI HOON',
       'HALA HALA (Hearts Awakened, Live Alive) - ATEEZ', 'Eung Eung - Apink',
       'What is Love - TWICE', 'TWILIGHT - WEi', 'I Need Somebody - DAY6',
       'Taller than You - MAMAMOO', 'WHERE YOU AT - NU'EST W',
       'Mikrokosmos - BTS', 'Black Swan - BTS', 'Ice Cream Cake - Red Velvet'],
      dtype='object', name='song')

In [27]:
ratedance = kd_ratings.groupby('song_id')['rating'].count().reset_index()
ratedance

     song_id  rating
0         12      17
1         13      20
2         14      15
3         25      14
4         30      19
..       ...     ...
106      612      17
107      613      17
108      614       6
109      619      15
110      622       7

[111 rows x 2 columns]

In [28]:
dance_list = pd.merge(kdance,ratedance)
dance_list.rename(columns={'rating':'no of ratings'}, inplace=True)
dance_list

     song_id                  title     artist    tempo  no of ratings
0         12  OOMM (Out of My Mind)        3YE  150.063             17
1         13                  Crazy    4Minute  176.019             20
2         14                   Hate    4Minute  149.883             15
3         25                 Savage      aespa  146.959             14
4         30              Daechwita    Agust D  144.995             19
..       ...                    ...        ...      ...            ...
106      612           After School    Weeekly  164.007             17
107      613                 Tag Me    Weeekly  160.007             17
108      614               TWILIGHT        WEi  156.110              6
109      619            Picky Picky  Weki Meki  150.001             15
110      622                   Hold     WINNER  155.930              7

[111 rows x 5 columns]

In [29]:
dance_list['song'] = dance_list['title'] +' - '+ dance_list['artist']
dance_list

,song_id,title,artist,tempo,no of ratings,song
0,12,OOMM (Out of My Mind),3YE,150.063,17,OOMM (Out of My Mind) - 3YE
1,13,Crazy,4Minute,176.019,20,Crazy - 4Minute
2,14,Hate,4Minute,149.883,15,Hate - 4Minute
3,25,Savage,aespa,146.959,14,Savage - aespa
4,30,Daechwita,Agust D,144.995,19,Daechwita - Agust D
...,...,...,...,...,...,...
106,612,After School,Weeekly,164.007,17,After School - Weeekly
107,613,Tag Me,Weeekly,160.007,17,Tag Me - Weeekly
108,614,TWILIGHT,WEi,156.110,6,TWILIGHT - WEi
109,619,Picky Picky,Weki Meki,150.001,15,Picky Picky - Weki Meki
110,622,Hold,WINNER,155.930,7,Hold - WINNER

In [30]:
import pickle

In [31]:
pickle.dump(dance_list,open('kdance.pkl','wb'))

In [32]:
dance_list['song']

0      OOMM (Out of My Mind) - 3YE
1                  Crazy - 4Minute
2                   Hate - 4Minute
3                   Savage - aespa
4              Daechwita - Agust D
                  ...
106         After School - Weeekly
107               Tag Me - Weeekly
108                 TWILIGHT - WEi
109        Picky Picky - Weki Meki
110                  Hold - WINNER
Name: song, Length: 111, dtype: object

In [37]:
dance_list.to_dict()

{'song_id': {0: 12,
  1: 13,
  2: 14,
  3: 25,
  4: 30,
  5: 38,
  6: 48,
  7: 49,
  8: 50,
  9: 55,
  10: 57,
  11: 58,
  12: 59,
  13: 60,
  14: 85,
  15: 86,
  16: 100,
  17: 103,
  18: 106,
  19: 107,
  20: 111,
  21: 112,
  22: 125,
  23: 127,
  24: 133,
  25: 139,
  26: 140,
  27: 143,
  28: 144,
  29: 151,
  30: 159,
  31: 169,
  32: 170,
  33: 171,
  34: 173,
  35: 174,
  36: 175,
  37: 177,
  38: 182,
  39: 183,
  40: 186,
  41: 188,
  42: 189,
  43: 195,
  44: 202,
  45: 210,
  46: 214,
  47: 216,
  48: 232,
  49: 242,
  50: 257,
  51: 266,
  52: 268,
  53: 273,
  54: 277,
  55: 294,
  56: 316,
  57: 325,
  58: 326,
  59: 345,
  60: 351,
  61: 371,
  62: 375,
  63: 383,
  64: 386,
  65: 391,
  66: 392,
  67: 397,
  68: 399,
  69: 405,
  70: 420,
  71: 423,
  72: 427,
  73: 428,
  74: 430,
  75: 436,
  76: 437,
  77: 438,
  78: 445,
  79: 447,
  80: 448,
  81: 451,
  82: 456,
  83: 467,
  84: 468,
  85: 469,
  86: 471,
  87: 480,
  88: 485,
  89: 493,
  90: 503,
  91: 515,
  92: 520,
  93: 522,
  94: 523,
  95: 525,
  96: 526,
  97: 527,
  98: 530,
  99: 548,
  100: 550,
  101: 553,
  102: 587,
  103: 590,
  104: 594,
  105: 602,
  106: 612,
  107: 613,
  108: 614,
  109: 619,
  110: 622},
 'title': {0: 'OOMM (Out of My Mind)',
  1: 'Crazy',
  2: 'Hate',
  3: 'Savage',
  4: 'Daechwita',
  5: 'Eung Eung',
  6: 'Oh! my mistake',
  7: 'All Night',
  8: 'Always You',
  9: 'HALA HALA (Hearts Awakened, Live Alive)',
  10: 'INCEPTION',
  11: 'Pirate King',
  12: 'Say My Name',
  13: 'THANXX',
  14: 'IF YOU',
  15: 'LAST DANCE',
  16: 'Ice Cream (with Selena Gomez)',
  17: 'Love To Hate Me',
  18: 'Pretty Savage',
  19: 'Really',
  20: 'You Never Know',
  21: 'HER',
  22: 'Black Swan',
  23: 'Boy in Luv',
  24: 'Dionysus',
  25: 'HOME',
  26: 'I Need U',
  27: 'MIC Drop',
  28: 'Mikrokosmos',
  29: 'Silver Spoon',
  30: 'Bicycle',
  31: 'Nun Nu Nan Na',
  32: 'What You Wanted',
  33: 'Hello Bitches',
  34: 'HELICOPTER',
  35: 'Hobgoblin',
  36: 'ME',
  37: 'Hey You',
  38: 'I Need Somebody',
  39: 'Shoot Me',
  40: 'Break The Wall',
  41: 'Odd Eye',
  42: 'PIRI',
  43: 'Let Me In (20 CUBE)',
  44: 'LA DI DA',
  45: 'Ko Ko Bop',
  46: 'Monster',
  47: 'Ooh La La La',
  48: 'LOVE BOMB',
  49: 'Sunrise',
  50: 'NOT BY THE MOON',
  51: 'Dally',
  52: 'Bubble Pop!',
  53: 'Red',
  54: 'Whatta Man (Good man)',
  55: 'BBIBBI',
  56: 'BIRTHDAY',
  57: 'POP/STARS',
  58: 'THE BADDEST',
  59: 'HOLO',
  60: 'LALISA',
  61: 'My star',
  62: 'Taller than You',
  63: 'ICE AGE',
  64: 'OMG',
  65: 'Beautiful',
  66: 'DRAMARAMA',
  67: 'HERO',
  68: 'MOHAE',
  69: 'Shoot Out',
  70: 'Kick It',
  71: 'Simon Says',
  72: "Don't Need Your Love",
  73: 'Hello Future',
  74: "Ridin'",
  75: 'Love Paint (every afternoon)',
  76: 'HELP ME',
  77: 'WHERE YOU AT',
  78: 'L.O.V.E',
  79: 'Dr. BeBe',
  80: 'Naughty boy',
  81: 'Shine',
  82: 'IAM',
  83: 'Bad Boy',
  84: 'Dumb Dumb',
  85: 'Ice Cream Cake',
  86: 'Power Up',
  87: 'JUICY',
  88: 'A-TEEN',
  89: 'Left & Right',
  90: 'RPM',
  91: 'I Like That',
  92: 'Love Like This',
  93: 'SO BAD',
  94: 'STEREOTYPE',
  95: 'Double Knot',
  96: 'Get Cool',
  97: "God's Menu",
  98: 'My Pace',
  99: 'Tiger Inside',
  100: 'WINE (Feat.Changmo) (Prod. SUGA)',
  101: 'RINGA LINGA',
  102: "I CAN'T STOP ME",
  103: 'What is Love',
  104: 'Dream Glow (BTS World Original Soundtrack) [Pt. 1]',
  105: 'Howling',
  106: 'After School',
  107: 'Tag Me',
  108: 'TWILIGHT',
  109: 'Picky Picky',
  110: 'Hold'},
 'artist': {0: '3YE',
  1: '4Minute',
  2: '4Minute',
  3: 'aespa',
  4: 'Agust D',
  5: 'Apink',
  6: 'APRIL',
  7: 'ASTRO',
  8: 'ASTRO',
  9: 'ATEEZ',
  10: 'ATEEZ',
  11: 'ATEEZ',
  12: 'ATEEZ',
  13: 'ATEEZ',
  14: 'BIGBANG',
  15: 'BIGBANG',
  16: 'BLACKPINK',
  17: 'BLACKPINK',
  18: 'BLACKPINK',
  19: 'BLACKPINK',
  20: 'BLACKPINK',
  21: 'Block B',
  22: 'BTS',
  23: 'BTS',
  24: 'BTS',
  25: 'BTS',
  26: 'BTS',
  27: 'BTS',
  28: 'BTS',
  29: 'BTS',
  30: 'CHUNG HA',
  31: 'cignature',
  32: 'CIX',
  33: 'CL',
  34: 'CLC',
  35: 'CLC',
  36: 'CLC',
  37: 'CNBLUE',
  38: 'DAY6',
  39: 'DAY6',
  40: 'Dreamcatcher',
  41: 'Dreamcatcher',
  42: 'Dreamcatcher',
  43: 'ENHYPEN',
  44: 'EVERGLOW',
  45: 'EXO',
  46: 'EXO',
  47: 'EXO',
  48: 'fromis_9',
  49: 'GFRIEND',
  50: 'GOT7',
  51: 'Hyolyn',
  52: 'HyunA',
  53: 'HyunA',
  54: 'I.O.I',
  55: 'IU',
  56: 'JEON SOMI',
  57: 'K/DA',
  58: 'K/DA',
  59: 'LeeHi',
  60: 'LISA',
  61: 'MAMAMOO',
  62: 'MAMAMOO',
  63: 'MCND',
  64: 'MIXNINE',
  65: 'Monsta X',
  66: 'Monsta X',
  67: 'Monsta X',
  68: 'Monsta X',
  69: 'Monsta X',
  70: 'NCT 127',
  71: 'NCT 127',
  72: 'NCT DREAM',
  73: 'NCT DREAM',
  74: 'NCT DREAM',
  75: "NU'EST",
  76: "NU'EST W",
  77: "NU'EST W",
  78: 'PARK JI HOON',
  79: 'PENTAGON',
  80: 'PENTAGON',
  81: 'PENTAGON',
  82: 'PRODUCE 48',
  83: 'Red Velvet',
  84: 'Red Velvet',
  85: 'Red Velvet',
  86: 'Red Velvet',
  87: 'Rocket Punch',
  88: 'SEVENTEEN',
  89: 'SEVENTEEN',
  90: 'SF9',
  91: 'SISTAR',
  92: 'SS501',
  93: 'STAYC',
  94: 'STAYC',
  95: 'Stray Kids',
  96: 'Stray Kids',
  97: 'Stray Kids',
  98: 'Stray Kids',
  99: 'SuperM',
  100: 'SURAN',
  101: 'TAEYANG',
  102: 'TWICE',
  103: 'TWICE',
  104: 'Various Artists',
  105: 'VICTON',
  106: 'Weeekly',
  107: 'Weeekly',
  108: 'WEi',
  109: 'Weki Meki',
  110: 'WINNER'},
 'tempo': {0: 150.063,
  1: 176.019,
  2: 149.88299999999998,
  3: 146.959,
  4: 144.995,
  5: 144.86700000000002,
  6: 145.047,
  7: 150.062,
  8: 149.97899999999998,
  9: 159.904,
  10: 149.941,
  11: 173.00400000000002,
  12: 152.968,
  13: 164.847,
  14: 141.822,
  15: 143.858,
  16: 159.972,
  17: 162.225,
  18: 152.045,
  19: 142.019,
  20: 144.144,
  21: 162.017,
  22: 147.023,
  23: 166.247,
  24: 176.084,
  25: 142.991,
  26: 158.043,
  27: 169.959,
  28: 174.03900000000002,
  29: 166.89700000000002,
  30: 145.97,
  31: 164.106,
  32: 145.921,
  33: 145.07399999999998,
  34: 155.048,
  35: 169.91,
  36: 146.94299999999998,
  37: 200.157,
  38: 184.197,
  39: 167.933,
  40: 160.014,
  41: 160.061,
  42: 170.043,
  43: 171.85299999999998,
  44: 163.845,
  45: 145.983,
  46: 150.0,
  47: 165.15,
  48: 154.045,
  49: 173.917,
  50: 151.813,
  51: 143.741,
  52: 146.005,
  53: 163.787,
  54: 150.065,
  55: 143.894,
  56: 180.055,
  57: 170.03599999999997,
  58: 149.981,
  59: 179.91400000000002,
  60: 150.076,
  61: 147.951,
  62: 200.31599999999997,
  63: 142.89700000000002,
  64: 149.917,
  65: 154.002,
  66: 186.15400000000002,
  67: 146.082,
  68: 142.034,
  69: 165.13299999999998,
  70: 167.03099999999998,
  71: 151.977,
  72: 160.145,
  73: 170.00599999999997,
  74: 150.009,
  75: 147.024,
  76: 151.91,
  77: 142.76,
  78: 154.036,
  79: 142.079,
  80: 160.034,
  81: 150.013,
  82: 147.935,
  83: 149.985,
  84: 145.99,
  85: 172.023,
  86: 159.998,
  87: 171.99599999999998,
  88: 149.96200000000002,
  89: 149.994,
  90: 169.96200000000002,
  91: 154.882,
  92: 155.891,
  93: 168.97799999999998,
  94: 148.298,
  95: 146.925,
  96: 151.955,
  97: 157.05200000000002,
  98: 155.12,
  99: 170.21,
  100: 145.87,
  101: 141.018,
  102: 150.084,
  103: 169.96599999999998,
  104: 141.94799999999998,
  105: 153.58,
  106: 164.007,
  107: 160.007,
  108: 156.11,
  109: 150.001,
  110: 155.93},
 'no of ratings': {0: 17,
  1: 20,
  2: 15,
  3: 14,
  4: 19,
  5: 9,
  6: 14,
  7: 17,
  8: 21,
  9: 11,
  10: 20,
  11: 20,
  12: 14,
  13: 16,
  14: 17,
  15: 16,
  16: 15,
  17: 8,
  18: 11,
  19: 10,
  20: 14,
  21: 12,
  22: 15,
  23: 19,
  24: 13,
  25: 11,
  26: 15,
  27: 14,
  28: 15,
  29: 21,
  30: 20,
  31: 15,
  32: 20,
  33: 24,
  34: 23,
  35: 17,
  36: 15,
  37: 13,
  38: 16,
  39: 19,
  40: 15,
  41: 16,
  42: 18,
  43: 18,
  44: 18,
  45: 16,
  46: 20,
  47: 16,
  48: 17,
  49: 12,
  50: 16,
  51: 10,
  52: 17,
  53: 14,
  54: 19,
  55: 16,
  56: 15,
  57: 15,
  58: 22,
  59: 19,
  60: 23,
  61: 17,
  62: 13,
  63: 25,
  64: 20,
  65: 11,
  66: 17,
  67: 17,
  68: 14,
  69: 19,
  70: 21,
  71: 14,
  72: 11,
  73: 18,
  74: 22,
  75: 16,
  76: 17,
  77: 6,
  78: 10,
  79: 22,
  80: 17,
  81: 16,
  82: 14,
  83: 15,
  84: 10,
  85: 19,
  86: 15,
  87: 13,
  88: 12,
  89: 20,
  90: 13,
  91: 12,
  92: 20,
  93: 15,
  94: 13,
  95: 16,
  96: 17,
  97: 22,
  98: 16,
  99: 14,
  100: 16,
  101: 18,
  102: 17,
  103: 13,
  104: 25,
  105: 19,
  106: 17,
  107: 17,
  108: 6,
  109: 15,
  110: 7},
 'song': {0: 'OOMM (Out of My Mind) - 3YE',
  1: 'Crazy - 4Minute',
  2: 'Hate - 4Minute',
  3: 'Savage - aespa',
  4: 'Daechwita - Agust D',
  5: 'Eung Eung - Apink',
  6: 'Oh! my mistake - APRIL',
  7: 'All Night - ASTRO',
  8: 'Always You - ASTRO',
  9: 'HALA HALA (Hearts Awakened, Live Alive) - ATEEZ',
  10: 'INCEPTION - ATEEZ',
  11: 'Pirate King - ATEEZ',
  12: 'Say My Name - ATEEZ',
  13: 'THANXX - ATEEZ',
  14: 'IF YOU - BIGBANG',
  15: 'LAST DANCE - BIGBANG',
  16: 'Ice Cream (with Selena Gomez) - BLACKPINK',
  17: 'Love To Hate Me - BLACKPINK',
  18: 'Pretty Savage - BLACKPINK',
  19: 'Really - BLACKPINK',
  20: 'You Never Know - BLACKPINK',
  21: 'HER - Block B',
  22: 'Black Swan - BTS',
  23: 'Boy in Luv - BTS',
  24: 'Dionysus - BTS',
  25: 'HOME - BTS',
  26: 'I Need U - BTS',
  27: 'MIC Drop - BTS',
  28: 'Mikrokosmos - BTS',
  29: 'Silver Spoon - BTS',
  30: 'Bicycle - CHUNG HA',
  31: 'Nun Nu Nan Na - cignature',
  32: 'What You Wanted - CIX',
  33: 'Hello Bitches - CL',
  34: 'HELICOPTER - CLC',
  35: 'Hobgoblin - CLC',
  36: 'ME - CLC',
  37: 'Hey You - CNBLUE',
  38: 'I Need Somebody - DAY6',
  39: 'Shoot Me - DAY6',
  40: 'Break The Wall - Dreamcatcher',
  41: 'Odd Eye - Dreamcatcher',
  42: 'PIRI - Dreamcatcher',
  43: 'Let Me In (20 CUBE) - ENHYPEN',
  44: 'LA DI DA - EVERGLOW',
  45: 'Ko Ko Bop - EXO',
  46: 'Monster - EXO',
  47: 'Ooh La La La - EXO',
  48: 'LOVE BOMB - fromis_9',
  49: 'Sunrise - GFRIEND',
  50: 'NOT BY THE MOON - GOT7',
  51: 'Dally - Hyolyn',
  52: 'Bubble Pop! - HyunA',
  53: 'Red - HyunA',
  54: 'Whatta Man (Good man) - I.O.I',
  55: 'BBIBBI - IU',
  56: 'BIRTHDAY - JEON SOMI',
  57: 'POP/STARS - K/DA',
  58: 'THE BADDEST - K/DA',
  59: 'HOLO - LeeHi',
  60: 'LALISA - LISA',
  61: 'My star - MAMAMOO',
  62: 'Taller than You - MAMAMOO',
  63: 'ICE AGE - MCND',
  64: 'OMG - MIXNINE',
  65: 'Beautiful - Monsta X',
  66: 'DRAMARAMA - Monsta X',
  67: 'HERO - Monsta X',
  68: 'MOHAE - Monsta X',
  69: 'Shoot Out - Monsta X',
  70: 'Kick It - NCT 127',
  71: 'Simon Says - NCT 127',
  72: "Don't Need Your Love - NCT DREAM",
  73: 'Hello Future - NCT DREAM',
  74: "Ridin' - NCT DREAM",
  75: "Love Paint (every afternoon) - NU'EST",
  76: "HELP ME - NU'EST W",
  77: "WHERE YOU AT - NU'EST W",
  78: 'L.O.V.E - PARK JI HOON',
  79: 'Dr. BeBe - PENTAGON',
  80: 'Naughty boy - PENTAGON',
  81: 'Shine - PENTAGON',
  82: 'IAM - PRODUCE 48',
  83: 'Bad Boy - Red Velvet',
  84: 'Dumb Dumb - Red Velvet',
  85: 'Ice Cream Cake - Red Velvet',
  86: 'Power Up - Red Velvet',
  87: 'JUICY - Rocket Punch',
  88: 'A-TEEN - SEVENTEEN',
  89: 'Left & Right - SEVENTEEN',
  90: 'RPM - SF9',
  91: 'I Like That - SISTAR',
  92: 'Love Like This - SS501',
  93: 'SO BAD - STAYC',
  94: 'STEREOTYPE - STAYC',
  95: 'Double Knot - Stray Kids',
  96: 'Get Cool - Stray Kids',
  97: "God's Menu - Stray Kids",
  98: 'My Pace - Stray Kids',
  99: 'Tiger Inside - SuperM',
  100: 'WINE (Feat.Changmo) (Prod. SUGA) - SURAN',
  101: 'RINGA LINGA - TAEYANG',
  102: "I CAN'T STOP ME - TWICE",
  103: 'What is Love - TWICE',
  104: 'Dream Glow (BTS World Original Soundtrack) [Pt. 1] - Various Artists',
  105: 'Howling - VICTON',
  106: 'After School - Weeekly',
  107: 'Tag Me - Weeekly',
  108: 'TWILIGHT - WEi',
  109: 'Picky Picky - Weki Meki',
  110: 'Hold - WINNER'}}

In [33]:
pickle.dump(dance_list.to_dict(),open('kdance_dict.pkl','wb'))

In [34]:
pickle.dump(dance_pivot,open('dance_pivot.pkl','wb'))

In [35]:
pickle.dump(dance_model,open('dance_model.pkl','wb'))

In [36]:
dance_list['tempo']

0      150.063
1      176.019
2      149.883
3      146.959
4      144.995
        ...
106    164.007
107    160.007
108    156.110
109    150.001
110    155.930
Name: tempo, Length: 111, dtype: float64